*{
    margin: 0;
    padding: 0;
}

.headinghover:hover{
    color: gray;
    cursor: pointer;
}

.head{
    display: flex;
    border: 2px solid black;
    background-color: black;
    color: white;
    height: 3rem;
    justify-content: space-around ;
    padding-top: 1rem;
    font-size: 25px;
    /* position: fixed; */
    width: 100%;
}

main{
    width: 75%;
    margin: auto;
    margin-top: 4rem;
}

.img{
    width: 100%;
    /* margin-top: 50px; */
    margin: auto;
    height: 75%;
}



.sec{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: .4rem;
    padding: 1rem 1rem 1rem 1.5rem;   
}

.first__section {
    width: 96%;
}
.first__section h3 {
    text-align: center;
    font-size: 20px;
    padding-top: 1rem;
}
.first__section p {
    text-align: center;
    padding-top: 1rem;
    font-size: 16px;
}

@media(width <= 1350px){
    .sec{
        grid-template-columns: auto auto auto;
    }
}

@media(width <= 1200px){
    .sec{
        grid-template-columns: auto auto;
    }
    
}

@media(width <= 600px){
    .sec{
        grid-template-columns: auto;
    }
    .img{
        width: 80%;
        margin-left: 2rem;
        margin-top: 3rem;
        height: 70%;
    }
}





.numbers{
    display: flex;
    margin-top: 20px;
    justify-content: center;    
    font-size: 20px;
   

}

 .no{
    background-color: black;
    color: white;
    width: 2rem;
    height: 2rem;
    text-align: center;
    padding-top: 5px;
}

.no:hover{
    background-color: gray;
    color: black;
    cursor: pointer;
}

.noo{
    width: 2rem;
    height: 2rem;
    text-align: center;
    padding-top: 5px;
}

.noo:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.line{
    border-bottom: 1px solid rgb(217, 217, 217);
    width: 95%;
    /* margin-top: 10rem; */
    margin: 1rem auto;
}

.linee{
    border-bottom: 1px solid rgb(217, 217, 217);
    width: 95%;
    margin-top: -3rem;
    /* margin-top: 10rem; */
    /* margin: auto; */
}

.sec3{
    width: 100%;
    margin-top: 5rem; 
    margin: auto;
    height: 50rem;
}

.sec3 .heading{
    text-align: center;
    font-size: 18px;
    margin-top: 2rem;
}

.chef{
    text-align: center;
    padding-top: 3rem;
    width: 65%;
    display: flex;  
    justify-content: center;
    margin: auto;
}

.cheff{
    text-align: center;
    padding-top: 3rem;
    font-size: 20px;
}

.italic{
    text-align: center;
    font-size: 17px;
    padding-top: 1rem;
}

.para{
    text-align: center;
   font-size: 16px;
   padding-top: 1rem;
} 

/* --------------------------------------------------OUR FOOTER SECTION BELOW--------------------------------------------- */
.footer{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    /* border: 2px solid red; */
    height: 18rem;
}

@media (width <= 984px) {
    .footer{
        grid-template-columns: auto auto;
    }   
}
@media (width <= 675px) {
    .footer{
        grid-template-columns: auto;
    }   
}

 .foot{
    /* border: 2px solid red; */
    /* height: 20rem; */
    width: 23rem;
    margin-top: 3rem;
} 

.footer_paragraph{
    padding-top: 2rem;
}

.flex2{
    display: flex;
    margin-top: 2rem;
    margin-left: 1rem;
}

.flex2 img{
    width: 4rem;
}

.flex2 p{
    margin-left: 1rem;
}

.footer_p{
    margin-bottom: 5px ;
    font-size: 20px;
}

.footer_pp{
    font-size: 17px;
}

.footerline{
    border-bottom: 1px solid rgb(199, 196, 196);
    width: 95%;
    margin: auto;
    margin-top: 1rem;
}

.flex3{
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
}

.flex3 img{
    width: 4rem;
}

.flex3 p{
    margin-left: 1rem;
}

.tags{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.difftag{
    background-color: black;
    color: white;
    width: 3.5rem;
    text-align: center;
}

.undertag{
    background-color: gray;
    color: white;
    margin: auto;
    width: 3.5rem;
    text-align: center;
}

.undertagg{
    background-color: gray;
    color: white;
    margin: auto;
    width: 5rem;
    text-align: center;
}

.undertaggg{
    background-color: gray;
    color: white;
    font-size: 15px;
    margin: auto;
    width: 2.8rem;
    text-align: center;
}

.undertagggg{
    background-color: gray;
    color: white;
    font-size: 15px;
    margin: auto;
    width: 4rem;
    text-align: center;
}

.lasttag{
    background-color: gray;
    color: white;
    font-size: 15px;
    width: 2.8rem;
}

.difftagg{
    background-color: gray;
    color: white;
    width: 3.5rem;
    text-align: center;
}

